openapi: "3.0.0"
info:
  version: 0.1.0
  title: Limrun API
servers:
  - url: https://edge.limrun.net
paths:
  /v1/organizations/{organizationId}/android.limrun.com/v1/instances:
    get:
      summary: List Android instances belonging to given organization
      operationId: listAndroidInstancesV1
      parameters:
        - name: organizationId
          description: Organization ID the Android instances belong to.
          required: true
          in: path
          schema:
            type: string
        - name: region
          description: Region where the instance is scheduled on.
          required: false
          in: query
          schema:
            type: string
        - name: state
          description: State filter to apply to Android instances to return.
          required: false
          in: query
          schema:
            $ref: "#/components/schemas/AndroidInstanceState"
        - name: labelSelector
          description: |
            Labels filter to apply to Android instances to return.
            Expects a comma-separated list of key=value pairs (e.g., env=prod,region=us-west).
          required: false
          in: query
          schema:
            type: string
            example: "env=prod,version=1.2"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AndroidInstance"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
    post:
      summary: Create an Android instance
      operationId: createAndroidInstance
      parameters:
        - name: organizationId
          description: Organization ID the Android instances belong to.
          required: true
          in: path
          schema:
            type: string
        - name: wait
          description: Return after the instance is ready to connect.
          required: false
          in: query
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AndroidInstanceCreate"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AndroidInstance"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
  /v1/organizations/{organizationId}/android.limrun.com/v1/instances/{id}:
    get:
      summary: Get Android instance with given name
      operationId: getAndroidInstance
      parameters:
        - name: organizationId
          description: Organization ID the Android instances belong to.
          required: true
          in: path
          schema:
            type: string
        - name: id
          description: Android instance ID, e.g. android_someid
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AndroidInstance"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
    delete:
      summary: Delete Android instance with given name
      operationId: deleteAndroidInstance
      parameters:
        - name: organizationId
          description: Organization ID the Android instances belong to.
          required: true
          in: path
          schema:
            type: string
        - name: id
          description: Android instance ID, e.g. android_someid
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: OK
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
  /v1/organizations/{organizationId}/assets/{id}:
    get:
      summary: Get the asset with given ID.
      operationId: getAsset
      parameters:
        - name: organizationId
          description: Organization ID
          required: true
          in: path
          schema:
            type: string
        - name: id
          description: Asset ID
          required: true
          in: path
          schema:
            type: string
        - name: includeDownloadUrl
          description: Toggles whether a download URL should be included in the response
          required: false
          in: query
          schema:
            type: boolean
        - name: includeUploadUrl
          description: Toggles whether an upload URL should be included in the response
          required: false
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
  /v1/organizations/{organizationId}/assets:
    get:
      summary: List organization's all assets with given filters. If none given, return all assets.
      operationId: listAssets
      parameters:
        - name: organizationId
          description: Organization ID
          required: true
          in: path
          schema:
            type: string
        - name: md5Filter
          description: Query by file md5
          required: false
          in: query
          schema:
            type:
              string
        - name: nameFilter
          description: Query by file name
          required: false
          in: query
          schema:
            type: string
        - name: includeDownloadUrl
          description: Toggles whether a download URL should be included in the response
          required: false
          in: query
          schema:
            type: boolean
        - name: includeUploadUrl
          description: Toggles whether an upload URL should be included in the response
          required: false
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Asset"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
    put:
      summary: |-
        If organization already has a file with given md5 a new asset referencing the same file will be created with given name.
        If not, an upload URL will be returned where the uploaded file's md5 MUST match with the md5 provided in this request.
        In all cases a signed download URL is returned but upload URL is returned only when you need to upload, e.g.
        we don't have the file in your organization folder.
      operationId: putAsset
      parameters:
        - name: organizationId
          description: Organization ID
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetPut"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
  /livez:
    get:
      summary: Check if the server is alive
      operationId: checkAlive
      responses:
        '200':
          description: OK
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
  /readyz:
    get:
      summary: Check if the server is ready
      operationId: checkReady
      responses:
        '200':
          description: OK
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
components:
  schemas:
    APIError:
      type: object
      properties:
        message:
          type: string
        reason:
          type: string
          description: Optional reason for the returned error to show more user-friendly errors.
          enum:
            - NoSubscription
            - NoRemainingMinutes
            - ConcurrencyLimitReached
      required:
        - message
    AndroidInstanceCreate:
      type: object
      properties:
        metadata:
          type: object
          properties:
            displayName:
              type: string
            labels:
              type: object
              additionalProperties:
                type: string
        spec:
          type: object
          properties:
            clues:
              type: array
              items:
                type: object
                properties:
                  kind:
                    type: string
                    enum:
                      - ClientIP
                  clientIp:
                    type: string
                required:
                  - kind
            region:
              type: string
              description: |-
                The region where the instance will be created. If not given, will be decided based on scheduling clues
                and availability.
            inactivityTimeout:
              type: string
              format: duration
              description: |-
                After how many minutes of inactivity should the instance be terminated.
                Example values 1m, 10m, 3h.
                Default is 3m.
                Providing "0" disables inactivity checks altogether.
              default: 3m
            hardTimeout:
              type: string
              format: duration
              description: |-
                After how many minutes should the instance be terminated.
                Example values 1m, 10m, 3h.
                Default is "0" which means no hard timeout.
              default: "0"
            initialAssets:
              type: array
              items:
                type: object
                properties:
                  kind:
                    type: string
                    enum:
                      - App
                    default: App
                  source:
                    type: string
                    enum:
                      - URL
                      - AssetName
                    default: URL
                  url:
                    type: string
                  assetName:
                    type: string
                required:
                  - kind
                  - source
    AndroidInstance:
      type: object
      properties:
        metadata:
          type: object
          properties:
            id:
              type: string
            displayName:
              type: string
            organizationId:
              type: string
            createdAt:
              type: string
              format: date-time
            terminatedAt:
              type: string
              format: date-time
            labels:
              type: object
              additionalProperties:
                type: string
          required:
            - id
            - organizationId
            - createdAt
        spec:
          type: object
          properties:
            region:
              type: string
              description: |-
                The region where the instance will be created. If not given, will be decided based on scheduling clues
                and availability.
            inactivityTimeout:
              type: string
              format: duration
              description: |-
                After how many minutes of inactivity should the instance be terminated.
                Example values 1m, 10m, 3h.
                Default is 3m.
                Providing "0" disables inactivity checks altogether.
              default: 3m
            hardTimeout:
              type: string
              format: duration
              description: |-
                After how many minutes should the instance be terminated.
                Example values 1m, 10m, 3h.
                Default is "0" which means no hard timeout.
              default: "0"
          required:
            - region
            - inactivityTimeout
        status:
          type: object
          properties:
            state:
              $ref: "#/components/schemas/AndroidInstanceState"
            adbWebSocketUrl:
              type: string
            endpointWebSocketUrl:
              type: string
            token:
              type: string
          required:
            - state
            - token
      required:
        - metadata
        - spec
        - status
    AndroidInstanceState:
      type: string
      # This enum is copied to DB schema as well.
      enum:
        - unknown
        - creating
        - ready
        - terminated
    AssetPut:
      type: object
      properties:
        name:
          type: string
      required:
        - name
    Asset:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        md5:
          type: string
          description: Returned only if there is a corresponding file uploaded already.
        signedUploadUrl:
          type: string
        signedDownloadUrl:
          type: string
      required:
        - id
        - name
        - state
